@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <label>@Model.Name</label>
        <label>@Model.Surname</label>
    </div>
    <h3>@Model.Message</h3>
    <form method="post"><button class="btn btn-default">Click to post</button></form>
    <p><a href="/" class="btn btn-default">Click to Get</a></p>
    <button class="button-89" role="button">Button 89</button>

</div>
