.book {
  margin: 10px auto 10px auto;
  position: relative;
  border-radius: 10px;
  width: 12vw;
  height: 17vw;
  background-color: whitesmoke;


  display: flex flow;
  flex-flow: wrap;
  text-align: right;
  align-items: center;
  justify-content: center;
  

  perspective: 2000px;
/*  display: flex flow-root;
  flex-flow: row, wrap;*/

/*dikey ve yanal ortalama*/
/*  text-align: center;*/
/*  align-items: center;
  justify-content: center;*/

  /*display: -webkit-box;*/
  /*display: -ms-flexbox;*/
  /*-webkit-box-align: center;*/
  /*-ms-flex-align: center;*/
  /*-webkit-box-pack: center;*/
  /*-ms-flex-pack: center;*/
  /*color: #000;*/
  /*-webkit-box-shadow: 1px 1px 12px #000;*/
/*  box-shadow: 1px 1px 12px #000;*/
  /*-webkit-transform: preserve-3d;*/
 /* -ms-transform: preserve-3d;
  transform: preserve-3d;*/
  /*-webkit-perspective: 2000px;*/
}

.cover {
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 12px #000;
/*  display: flex;
  align-items: center;
  justify-content: center;*/
  top: 0;


  /*cursor: pointer;*/
  /*-webkit-transition: all 0.5s;*/
  /*-webkit-transform-origin: 0;*/
  /*-ms-transform-origin: 0;*/
  /*-webkit-box-shadow: 1px 1px 12px #000;*/
  /*display: -webkit-box;*/
  /*display: -ms-flexbox;*/
  /*-webkit-box-align: center;*/
  /*-ms-flex-align: center;*/
  /*-webkit-box-pack: center;*/
  /*-ms-flex-pack: center;*/
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

p {
  font-size: 2vh;
  margin-top: 10px;
  margin-right: 10px;
}

.newline {
    display: flex;
}

.contentCenter {
    margin: auto;
    width: 70%;
    display: flex;
    flex-flow: wrap;
}

img {
    display: flex flow-root;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}