@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100&family=Shantell+Sans:ital@1&display=swap');

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.stori-font {
    font-family: 'Shantell Sans', cursive;
    color: white;
}

.text-font {
    font-family: 'Genos', cursive;
    font-size: 125%;
    font-weight: bold;
}

.textcolor-padding {
  padding-left: 10px;
  padding-right: 10px;
}