.navmenu {
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    color: wheat;
    min-height: 40px;
}

.logotextdiv {
    width: 20%;
    height: 100%;
    display: flex;
}

.storifont {
    margin: auto;
    text-align: center;
    font-size: 6vh;
    font-family: 'Shantell Sans', cursive;
}

.settingsdiv{
    width: 80%;
    height: 100%;
    display: flex;
}

.settingsfont {
    margin: auto;
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Shantell Sans', cursive;
}

.sliderwidth{
    width: 3vw;
}

.btn {
    border-radius: 12px;
    border-width: 1px;
    border-style:solid;
}