<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="OleDbConnection" providerName="Deneme" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\\Users\\muss\\Desktop\\Database\\Arcelik.mdb"/>
	</connectionStrings>
	<appSettings>
		<add key="ReceiverCompany1" value="145;Arcelik"/>
		<add key="ReceiverCompany2" value="155;Beko"/>
		<add key="ReceiverCompany3" value="134;Company2"/>
		<add key="ReceiverCompany4" value="112;Compnay3"/>
	</appSettings>
</configuration>